body {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  height: 70.7vh;
}

table > tr > td {
  border: 1px solid;
  position: relative;
  min-width: 7rem;
}
table > tr > :nth-child(1) {
  border: 1px solid;
  background-color: blanchedalmond;
  padding: 0.5rem;
}
table > tr > :nth-child(2) {
  border-right: none;
}
table > tr > :last-child {
  border-left: none;
  border-right: 1px solid;
}

table td input,
table td select {
  border: none;
  font-size: large;
  height: 100%;
  width: calc(100% - 4px);
}

table td input {
  text-align: end;
}

input[value='1']:not(:focus) {
  background-color: red;
  /* display: none; */
}

table td.calc-btn{
  text-align: center;
  border-left: 1px solid!important;
}
table td.calc-btn>button{
  width: 100%;
  height: 100%;
}

table td input:focus,
table td select:focus {
  outline: none;
  background-color: yellow;
}

.every:not(:focus) {
  color: transparent;
}

.every-text {
  display: none;
  pointer-events: none;
}
.every-text>input{
  background: none;
}

.every ~ .every-text {
  display: flex;
  align-items: center;
  justify-content: end;
  pointer-events: none;
  position: absolute;
  transform: translate(0%, -100%);
  width: 100%;
  height: 100%;
}

.every:focus ~ .every-text {
  display: none;
}

/* hide default elements --------------------------------------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='date'] {
  font-family: Arial, sans-serif;
  /* overflow: hidden; */
}

/* custom input overlay logic ----------------------------------*/



/* utility -----------------------------------------------------*/

.justify-c-s {
  justify-content: start;
}

.text-align-e{
  text-align: end;
}


